.rodape_recursos{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 25px;
}

#recursos_titulo{
    color: #fff;
    margin-left: 11px;
    
}

.recursos__link{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}